{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://openapi.investec.com",
      "description": "",
      "variables": {}
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "SA CIB Account Information",
    "description": "The CIB account information API allows Investec SA Corporate and institutional clients to access their account and transactional information (read-only) via an API.  \n  \nIt can be used to retrieve account information such as:\n\n*   Account and balance details\n*   Account transactions\n*   Current Orders and Shipment information\n    \n\nThere are many possible use cases for the Account Information API: from extracting the data to aggregate it with financial data from other banking institutions to personal money management tools.  \n\n**Release Notes**\n\n 2023-06-21\n\n* **Enhancement**: Added a sandbox environment \n\n2025-06-27\n\n* **Enhancement**: Added Current Orders and Shipment information \n\n    \n# Sandbox\n\nTo use the sandbox environment use the base url `https://openapisandbox.investec.com` for authentication and all subsequent api requests. \n\n Authenticating: \n* **Auth URL (POST):** `https://openapisandbox.investec.com/identity/v2/oauth2/token` \n* **header**  `Authorization: Basic QXVQd2poU3k3a2FVd2djaDJJc0xGR1FPRUV4QVppaDU6N3ljWVhLYWtHZDZBU002Zg==`  \n* **header**  `x-api-key: QXVQd2poU3k3a2FVd2djaDJJc0xGR1FPRUV4QVppaDU6YVc1MlpYTjBaV010ZW1FdFkybGlMV0ZqWTI5MWJuUnpMWE5oYm1SaWIzZz0=` \n* **header** `Content-Type: application/x-www-form-urlencoded` \n* **data-urlencode** `grant_type=client_credentials` \n\n The basic authorization header are as follows ( *clientId:* `AuPwjhSy7kaUwgch2IsLFGQOEExAZih5` *secret:* `7ycYXKakGd6ASM6f` ) Eg. Base64-encode ( {clientId}:{secret} )\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "termsOfService": "https://developer.investec.com/za/terms-of-use",
    "contact": {}
  },
  "tags": [
    {
      "name": "Account information",
      "description": "Get data in context of an account. This includes balances and transaction history"
    },
    {
      "name": "Shipment information",
      "description": "Current Orders and Shipment information."
    }
  ],
  "paths": {
    "/za/bb/v1/accounts": {
      "get": {
        "summary": "Get Accounts",
        "description": "Obtain a list of accounts with balances in associated profile.",
        "operationId": "Accounts",
        "tags": [
          "Account information"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The requested operation was successfully completed",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "accounts": [
                      {
                        "AccountHolderAddress": {
                          "AddressLine1": "",
                          "AddressLine2": "",
                          "City": "",
                          "Country": "",
                          "CountryCode": ""
                        },
                        "RoutingBIC": "",
                        "BankAccountProductType": "",
                        "CreditLastCycleToNextBusinessDate": "0001-01-01T00:00:00",
                        "CustomerAccountType": "",
                        "DebitLastCycleToNextBusinessDate": "0001-01-01T00:00:00",
                        "DueDateOfPayment": "0001-01-01T00:00:00",
                        "MinimumAmountLimit": 0,
                        "NumberOfCardHolders": 0,
                        "CreditLimit": 0,
                        "DebitAccountBankName": "",
                        "PendingTransactions": 0,
                        "Banks": {
                          "Name": "Investec South Africa",
                          "ChipsUID": "",
                          "Branch": [
                            {
                              "Number": ""
                            }
                          ],
                          "PostalAddress": {
                            "AddressLine1": "100 Grayston drive",
                            "AddressLine2": "Sandown",
                            "City": "",
                            "Country": null
                          }
                        },
                        "Currencies": {
                          "CurrencyCode": "USD"
                        },
                        "InterestDistribution": "",
                        "NoticesBalance": 0,
                        "AccountOpenDate": "2021-10-13T07:19:01Z",
                        "CumulativeNoticesAmount": 0,
                        "InstantAvailableNoticeBalance": 0,
                        "MinimimAmountLimit": 0,
                        "loggedOnUser": {
                          "UserFirstName": "Jane",
                          "UserLastName": "Doe",
                          "UserCompany": "Racing Stripes Test Account FBCC (Pty) Ltd BTB TEST"
                        },
                        "NoticeInterestNominated": 0,
                        "NoticeInterestBank": "",
                        "noticeInterestAccountName": "",
                        "NoticeInterestAccount": "",
                        "PreviousStatementPeriod": "0001-01-01T00:00:00",
                        "DebitAccountNumber": "",
                        "DealReference": "",
                        "AutomaticPaymentOrder": "0.00000",
                        "BackOfficeCustomerCode": "RACINGSTRIPESPTYCALYPSO",
                        "AccountId": "4407",
                        "AccountName": "USD 6566939 Term Deposit Account",
                        "AccountFullName": "",
                        "AccountType": "Term Deposit Account",
                        "AccountTypeId": "5",
                        "AccountNumber": "6566939",
                        "AlternativeAccNo": "",
                        "ElectronicAccountNumber": "",
                        "Balances": {
                          "CapitalBalance": 12,
                          "AvailableBalance": 0,
                          "PrincipalAmount": 0,
                          "ValueDate": "2020-06-03T22:00:01Z",
                          "ClosingBalance": 0,
                          "PendingCardBalance": 0
                        },
                        "BackOfficeType": "",
                        "Products": {
                          "StartDate": "0001-01-01T00:00:00",
                          "EndDate": "0001-01-01T00:00:00",
                          "OverdraftLimit": 0,
                          "MaxTransferLimit": 0
                        },
                        "Description": "RACING STRIPES (PTY) LIMITED",
                        "OwnerType": "1",
                        "Interests": {
                          "Amount": 0,
                          "Rate": 0,
                          "RateMaturity": 0,
                          "RateCredit": 0.0155,
                          "RateDebit": 0,
                          "AccruedCreditInterest": 0,
                          "AccruedDebitInterest": 0
                        },
                        "ActiveFlag": "Y",
                        "NickName": "RACING STRIPES (PTY) LIMITED",
                        "CreatedDate": "2021-10-12T22:00:01Z",
                        "ModifiedDate": "0001-01-01T00:00:00",
                        "MaturityAmount": 0,
                        "StatementFrequency": "",
                        "StatementNumber": "",
                        "StatementDay": "0",
                        "StatementMonth": "",
                        "EmailAddress": "",
                        "Category": "Invest",
                        "LinkedAccount": "",
                        "AccountFormat": "99"
                      }
                    ]
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/bb/v1/accounts"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        },
        "requestBody": {
          "content": {
            "application/text": {
              "example": "GET https://openapi.investec.com/za/bb/v1/accounts HTTP/1.1 \nAuthorization: Basic e2NsaWVudElkfTp7c2VjcmV0fQ== \nHost: openapi.investec.com \nAccept: application/json \n\n $.ajax({ \n   url: 'https://openapi.investec.com/za/bb/v1/accounts',\n   type: 'GET', \n      headers: {\n      'Authorization': 'Basic e2NsaWVudElkfTp7c2VjcmV0fQ=='\n   },\n   success: function (result) {\n       console.log(JSON.stringify(result));\n   }\n});"
            }
          }
        }
      }
    },
    "/za/bb/v1/accounts/{accountId}/transactions?fromDate={fromDate}&toDate={toDate}&page=1": {
      "get": {
        "summary": "Get Account Transactions",
        "description": "Obtain a specified account's transactions.",
        "operationId": "AccountsTransactions",
        "tags": [
          "Account information"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "description": "AccountId Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fromDate"
          },
          {
            "$ref": "#/components/parameters/toDate"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "transactions": [
                      {
                        "AccountName": "ZAR 1300206346580 Investec Business Account",
                        "TransactionCode": "284",
                        "TransactionStatus": "approved",
                        "InvestmentDate": "0001-01-01T00:00:00",
                        "InvestmentName": null,
                        "InvestmentStatus": null,
                        "RemainingTerm": null,
                        "InvestmentAmount": null,
                        "StatementId": "51599",
                        "InstantAccessBalance": null,
                        "BranchCode": null,
                        "AccountNumber": null,
                        "DistributionAccount": null,
                        "AccountType": null,
                        "PostDate": "0001-01-01T00:00:00",
                        "Interest": null,
                        "AccruedInterest": null,
                        "MaturityDate": "0001-01-01T00:00:00",
                        "BankName": null,
                        "CustomerReferenceId": "",
                        "BackOfficeReferenceId": "",
                        "CardNumber": "Internal-Live",
                        "TransactionId": "202105180000000000284",
                        "Reference": "INVBUSONLBENEFRENSD",
                        "Beneficiaries": {
                          "LinkList": null,
                          "Entities": {
                            "EntityName": "Internal Transaction DETAIL - 40005030601"
                          }
                        },
                        "Description": "Internal Transaction",
                        "Accounts": {
                          "AccountId": 73,
                          "AccountNumber": "1300206346580"
                        },
                        "Currencies": {
                          "CurrencyCode": "ZAR"
                        },
                        "CaptureDate": "2021-05-17T22:00:01Z",
                        "ValueDate": "2021-05-17T22:00:01Z",
                        "CardHolderName": "INVBUSONLBENEFRENSD",
                        "AutoForwardProcessingDate": false,
                        "Amount": 5000,
                        "Reference_1": "PMC Inbounds",
                        "Reference_2": "",
                        "Reference_3": "DETAIL - 40005030601",
                        "Reference_4": null,
                        "Reference_5": null,
                        "Reference_8": "614",
                        "Reference_9": "BENEFRENSD",
                        "Reference_10": "",
                        "RunningBalance": 5445059.76
                      }
                    ]
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/bb/v1/accounts/{accountId}/transactions?fromDate={fromDate}&toDate={toDate}&page={page}"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        },
        "requestBody": {
          "content": {
            "application/text": {
              "example": "GET https://openapi.investec.com/za/bb/v1/accounts/{accountId}/transactions?fromDate={fromDate}&toDate={toDate}&page={page} HTTP/1.1 \nAuthorization: Basic e2NsaWVudElkfTp7c2VjcmV0fQ== \nHost: openapi.investec.com \nAccept: application/json \n\n $.ajax({ \n   url: 'https://openapi.investec.com/za/bb/v1/accounts/{accountId}/transactions?fromDate={fromDate}&toDate={toDate}&page={page}',\n   type: 'GET', \n      headers: {\n      'Authorization': 'Basic e2NsaWVudElkfTp7c2VjcmV0fQ=='\n   },\n   success: function (result) {\n       console.log(JSON.stringify(result));\n   }\n});"
            }
          }
        }
      }
    },
    "/za/bb/v1/companies": {
      "get": {
        "summary": "Get Companies",
        "description": "Obtain a list of companies in associated profile.",
        "operationId": "Companies",
        "tags": [
          "Shipment information"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "The requested operation was successfully completed",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "required": [
                          "companyName"
                        ],
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "companyName": {
                            "description": "The abbreviated name of the company, a means of identification of the company. ",
                            "maxLength": 70,
                            "minLength": 1,
                            "type": "string"
                          },
                          "companyFullName": {
                            "description": "The company full name.",
                            "maxLength": 70,
                            "minLength": 1,
                            "type": "string"
                          }
                        }
                      }
                    },
                    "links": {
                      "description": "Links relevant to the payload",
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "description": "Meta Data relevant to the payload",
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "totalPages": {
                          "format": "int32",
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "companyName": "",
                      "companyFullName": ""
                    }
                  ],
                  "links": {
                    "self": "https://openapi.investec.com/za/bb/v1/companies"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/bb/v1/companies/{companyname}/currentOrdersAndShipmentStatusReport": {
      "get": {
        "summary": "Get Current Orders and Shipments",
        "description": "Obtain a specified company's Current Orders and Shipments.",
        "operationId": "currentOrdersAndShipmentStatusReport",
        "tags": [
          "Shipment information"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyname",
            "description": "Company Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "required": [],
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "shipmentNumber": {
                            "description": "A unique and immutable identifier used to identify the shipment resource.",
                            "maxLength": 100,
                            "minLength": 1,
                            "type": "string"
                          },
                          "IndentNumber": {
                            "type": "string",
                            "description": "Indent Number",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "IFBReference": {
                            "type": "string",
                            "description": "IFB Reference",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "CustomerName": {
                            "type": "string",
                            "description": "Customer Name",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "BuyerFullName": {
                            "type": "string",
                            "description": "Buyer Full Name",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "SupplierName": {
                            "type": "string",
                            "description": "Supplier Name",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "PortOfLoad": {
                            "type": "string",
                            "description": "Port Of Load",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "PortOfDischarge": {
                            "type": "string",
                            "description": "Port Of Discharge",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "ShipOnBoard": {
                            "type": "string",
                            "description": "Ship On Board",
                            "format": "date-time",
                            "minLength": 1,
                            "maxLength": 20
                          },
                          "Eta": {
                            "type": "string",
                            "description": "ETA",
                            "format": "date-time",
                            "minLength": 1,
                            "maxLength": 20
                          },
                          "DeliveryDate": {
                            "type": "string",
                            "description": "Delivery Date",
                            "format": "date-time",
                            "minLength": 1,
                            "maxLength": 20
                          },
                          "InvoiceNumber": {
                            "type": "string",
                            "description": "Invoice Number",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "CurrencyCode": {
                            "type": "string",
                            "description": "Currency Code",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "OrderValue": {
                            "type": "number",
                            "description": "Order Value",
                            "format": "double"
                          },
                          "ShippedValue": {
                            "type": "number",
                            "description": "Shipped Value",
                            "format": "double"
                          },
                          "PaidAmount": {
                            "type": "number",
                            "description": "Paid Amount",
                            "format": "double"
                          },
                          "Incoterm": {
                            "type": "string",
                            "description": "Incoterm",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "Status": {
                            "type": "string",
                            "description": "Status",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "MovementType": {
                            "type": "string",
                            "description": "Movement Type",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "ShipmentMode": {
                            "type": "string",
                            "description": "Shipment Mode",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "MvMethod": {
                            "type": "string",
                            "description": "MV Method",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "TransitStatus": {
                            "type": "string",
                            "description": "Transit Status",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "MvStartDate": {
                            "type": "string",
                            "description": "MV Start Date",
                            "format": "date-time",
                            "minLength": 1,
                            "maxLength": 20
                          },
                          "MvEndDate": {
                            "type": "string",
                            "description": "MV End Date",
                            "format": "date-time",
                            "minLength": 1,
                            "maxLength": 20
                          },
                          "VesselName": {
                            "type": "string",
                            "description": "Vessel Name",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "ContainerNumber": {
                            "type": "string",
                            "description": "Container Number",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "ContainerCount": {
                            "type": "number",
                            "description": "Container Count",
                            "format": "int"
                          },
                          "ContainerType": {
                            "type": "string",
                            "description": "Container Type",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "LoadType": {
                            "type": "string",
                            "description": "Load Type",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "Pallets": {
                            "type": "number",
                            "description": "Pallets",
                            "format": "double"
                          },
                          "Cartons": {
                            "type": "number",
                            "description": "Cartons",
                            "format": "double"
                          },
                          "OtherPackages": {
                            "type": "number",
                            "description": "Other Packages",
                            "format": "double"
                          },
                          "DeliveryContact": {
                            "type": "string",
                            "description": "Delivery Contact",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "DeliveryMonth": {
                            "type": "string",
                            "description": "Delivery Month",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "DeliveryYear": {
                            "type": "string",
                            "description": "Delivery Year",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "DeliveryAddress": {
                            "type": "string",
                            "description": "Delivery Address",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "UnitPrice": {
                            "type": "string",
                            "description": "Shipping order line item unit price",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "ItemReference": {
                            "type": "string",
                            "description": "Shipping order line item Item Reference",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "Quantity": {
                            "type": "string",
                            "description": "Shipping order line item Quantity",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "Description": {
                            "type": "string",
                            "description": "Shipping order line item Description",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "EstimatedLandedCost": {
                            "type": "number",
                            "description": "Estimated Landed Cost",
                            "format": "double"
                          }
                        }
                      }
                    },
                    "links": {
                      "description": "Links relevant to the payload",
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "description": "Meta Data relevant to the payload",
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "totalPages": {
                          "format": "int32",
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "shipmentNumber": "Shipment Number",
                      "indentNumber": "000000035011",
                      "ifbReference": "ifb Reference",
                      "customerName": "Company Full Name",
                      "buyerFullName": "Buyer Full Name",
                      "supplierName": "Supplier Name",
                      "portOfLoad": "Haiphong",
                      "portOfDischarge": "Durban",
                      "shipOnBoard": "2025-08-09T00:00:00Z",
                      "eta": "2025-09-08T00:00:00Z",
                      "deliveryDate": "2025-09-13T00:00:00Z",
                      "invoiceNumber": "000000035011",
                      "currencyCode": "USD",
                      "orderValue": 17785.68,
                      "shippedValue": 17785.68,
                      "paidAmount": 1234,
                      "incoterm": "incoterm",
                      "status": "AWAITING_BOOKING",
                      "movementType": "ROUTE",
                      "shipmentMode": "AIR",
                      "mvMethod": "AIR",
                      "transitStatus": "Awaiting Booking",
                      "mvStartDate": "2025-09-13T00:00:00Z",
                      "mvEndDate": "2025-09-13T00:00:00Z",
                      "vesselName": "Vessel Name",
                      "containerNumber": 1,
                      "containerCount": 0,
                      "containerType": "40FT HQ",
                      "loadType": "FCL",
                      "pallets": 1,
                      "cartons": 1,
                      "otherPackages": 0,
                      "deliveryContact": "Delivery Contact",
                      "deliveryMonth": "SEPTEMBER",
                      "deliveryYear": "2025",
                      "deliveryAddress": "Delivery Address",
                      "unitPrice": 25,
                      "itemReference": "68600491",
                      "quantity": 5,
                      "description": "Item Description",
                      "estimatedLandedCost": 5000
                    }
                  ],
                  "links": {
                    "self": "https://openapi.investec.com/za/bb/v1/companies/{companyName}/currentOrdersAndShipmentStatusLineItems"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/bb/v1/companies/{companyname}/currentOrdersAndShipmentStatusLineItems": {
      "get": {
        "summary": "Get Current Order and Shipment Line Items",
        "description": "Obtain a specified company's Current Order and Shipment Line Items.",
        "operationId": "currentOrdersAndShipmentStatusLineItems",
        "tags": [
          "Shipment information"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyname",
            "description": "Company Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ],
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "required": [],
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "shipmentNumber": {
                            "description": "A unique and immutable identifier used to identify the shipment resource.",
                            "maxLength": 100,
                            "minLength": 1,
                            "type": "string"
                          },
                          "IndentNumber": {
                            "type": "string",
                            "description": "Indent Number",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "IFBReference": {
                            "type": "string",
                            "description": "IFB Reference",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "CustomerName": {
                            "type": "string",
                            "description": "Customer Name",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "BuyerFullName": {
                            "type": "string",
                            "description": "Buyer Full Name",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "SupplierName": {
                            "type": "string",
                            "description": "Supplier Name",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "PortOfLoad": {
                            "type": "string",
                            "description": "Port Of Load",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "PortOfDischarge": {
                            "type": "string",
                            "description": "Port Of Discharge",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "ShipOnBoard": {
                            "type": "string",
                            "description": "Ship On Board",
                            "format": "date-time",
                            "minLength": 1,
                            "maxLength": 20
                          },
                          "Eta": {
                            "type": "string",
                            "description": "ETA",
                            "format": "date-time",
                            "minLength": 1,
                            "maxLength": 20
                          },
                          "DeliveryDate": {
                            "type": "string",
                            "description": "Delivery Date",
                            "format": "date-time",
                            "minLength": 1,
                            "maxLength": 20
                          },
                          "InvoiceNumber": {
                            "type": "string",
                            "description": "Invoice Number",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "CurrencyCode": {
                            "type": "string",
                            "description": "Currency Code",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "OrderValue": {
                            "type": "number",
                            "description": "Order Value",
                            "format": "double"
                          },
                          "ShippedValue": {
                            "type": "number",
                            "description": "Shipped Value",
                            "format": "double"
                          },
                          "PaidAmount": {
                            "type": "number",
                            "description": "Paid Amount",
                            "format": "double"
                          },
                          "Incoterm": {
                            "type": "string",
                            "description": "Incoterm",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "Status": {
                            "type": "string",
                            "description": "Status",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "MovementType": {
                            "type": "string",
                            "description": "Movement Type",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "ShipmentMode": {
                            "type": "string",
                            "description": "Shipment Mode",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "MvMethod": {
                            "type": "string",
                            "description": "MV Method",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "TransitStatus": {
                            "type": "string",
                            "description": "Transit Status",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "MvStartDate": {
                            "type": "string",
                            "description": "MV Start Date",
                            "format": "date-time",
                            "minLength": 1,
                            "maxLength": 20
                          },
                          "MvEndDate": {
                            "type": "string",
                            "description": "MV End Date",
                            "format": "date-time",
                            "minLength": 1,
                            "maxLength": 20
                          },
                          "VesselName": {
                            "type": "string",
                            "description": "Vessel Name",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "ContainerNumber": {
                            "type": "string",
                            "description": "Container Number",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "ContainerCount": {
                            "type": "number",
                            "description": "Container Count",
                            "format": "int"
                          },
                          "ContainerType": {
                            "type": "string",
                            "description": "Container Type",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "LoadType": {
                            "type": "string",
                            "description": "Load Type",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "Pallets": {
                            "type": "number",
                            "description": "Pallets",
                            "format": "double"
                          },
                          "Cartons": {
                            "type": "number",
                            "description": "Cartons",
                            "format": "double"
                          },
                          "OtherPackages": {
                            "type": "number",
                            "description": "Other Packages",
                            "format": "double"
                          },
                          "DeliveryContact": {
                            "type": "string",
                            "description": "Delivery Contact",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "DeliveryMonth": {
                            "type": "string",
                            "description": "Delivery Month",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "DeliveryYear": {
                            "type": "string",
                            "description": "Delivery Year",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "DeliveryAddress": {
                            "type": "string",
                            "description": "Delivery Address",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "UnitPrice": {
                            "type": "string",
                            "description": "Shipping order line item unit price",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "ItemReference": {
                            "type": "string",
                            "description": "Shipping order line item Item Reference",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "Quantity": {
                            "type": "string",
                            "description": "Shipping order line item Quantity",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "Description": {
                            "type": "string",
                            "description": "Shipping order line item Description",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "EstimatedLandedCost": {
                            "type": "number",
                            "description": "Estimated Landed Cost",
                            "format": "double"
                          }
                        }
                      }
                    },
                    "links": {
                      "description": "Links relevant to the payload",
                      "required": [
                        "self"
                      ],
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "description": "Meta Data relevant to the payload",
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "totalPages": {
                          "format": "int32",
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "shipmentNumber": "Shipment Number",
                      "indentNumber": "000000035011",
                      "ifbReference": "ifb Reference",
                      "customerName": "Company Full Name",
                      "buyerFullName": "Buyer Full Name",
                      "supplierName": "Supplier Name",
                      "portOfLoad": "Haiphong",
                      "portOfDischarge": "Durban",
                      "shipOnBoard": "2025-08-09T00:00:00Z",
                      "eta": "2025-09-08T00:00:00Z",
                      "deliveryDate": "2025-09-13T00:00:00Z",
                      "invoiceNumber": "000000035011",
                      "currencyCode": "USD",
                      "orderValue": 17785.68,
                      "shippedValue": 17785.68,
                      "paidAmount": 1234,
                      "incoterm": "incoterm",
                      "status": "AWAITING_BOOKING",
                      "movementType": "ROUTE",
                      "shipmentMode": "AIR",
                      "mvMethod": "AIR",
                      "transitStatus": "Awaiting Booking",
                      "mvStartDate": "2025-09-13T00:00:00Z",
                      "mvEndDate": "2025-09-13T00:00:00Z",
                      "vesselName": "Vessel Name",
                      "containerNumber": 1,
                      "containerCount": 0,
                      "containerType": "40FT HQ",
                      "loadType": "FCL",
                      "pallets": 1,
                      "cartons": 1,
                      "otherPackages": 0,
                      "deliveryContact": "Delivery Contact",
                      "deliveryMonth": "SEPTEMBER",
                      "deliveryYear": "2025",
                      "deliveryAddress": "Delivery Address",
                      "unitPrice": 25,
                      "itemReference": "68600491",
                      "quantity": 5,
                      "description": "Item Description",
                      "estimatedLandedCost": 5000
                    }
                  ],
                  "links": {
                    "self": "https://openapi.investec.com/za/bb/v1/companies/{companyName}/currentOrdersAndShipmentStatusLineItems"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "x-api-key": {
        "name": "x-api-key",
        "in": "header",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string",
          "example": "{{x-api-key}}"
        }
      },
      "fromDate": {
        "name": "fromDate",
        "description": "Refers to the date range filter's start date. Will default to today's date, minus 180 days, if not specified.",
        "in": "query",
        "required": false,
        "style": "form",
        "schema": {
          "type": "string",
          "example": "2021-05-01"
        }
      },
      "toDate": {
        "name": "toDate",
        "description": "Refers to the date range filter's end date. Will default to today's date if not specified.",
        "in": "query",
        "required": false,
        "style": "form",
        "schema": {
          "type": "string",
          "example": "2021-06-01"
        }
      },
      "page": {
        "name": "page",
        "description": "Refers to the page number.",
        "in": "query",
        "required": false,
        "style": "form",
        "schema": {
          "type": "string",
          "example": "1"
        }
      }
    },
    "schemas": {
      "MetaData": {
        "description": "Meta Data relevant to the payload",
        "type": "object",
        "properties": {
          "TotalPages": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "Links": {
        "description": "Links relevant to the payload",
        "required": [
          "Self"
        ],
        "type": "object",
        "properties": {
          "Self": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearer": []
    }
  ],
  "externalDocs": {
    "url": "",
    "description": ""
  }
}