{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://openapi.investec.com",
      "description": "Production environment"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Card API",
    "description": "# Overview \n The Card API enables you to programmatically manage **Private Banking**, **Business & Commercial**, and **Corporate** banking cards. With this API, you can:\n- Get a list of your cards and card details \n- Create virtual cards\n- Get the code that is published to your cards \n- Save and publish new code to your cards\n- Run card simulations to test saved code \n- Check logs of simulated and real transactions on your cards \n- Manage environmental variables\n- Get a reference set of merchant codes\n- Get a reference set of currencies and countries and the associated codes.\n # Authentication\n\n <details><summary><strong> View Authentication details</strong></summary> \n\n- Investec API authentication uses **OAuth 2.0 client credentials** (`client_id` and `client_secret`), with the addition of an `x-api-key`. \n- Log in to Investec Online to obtain your `client_id` and `client_secret` and to generate your `x-api-key` with the scopes you require.\n\n **1. Get an access token**\n\n- To get an access token, you must exchange your `client_id`, `client_secret` and `x-api-key` for the token \n\n```bash\ncurl --location 'https://openapi.investec.com/identity/v2/oauth2/token' \\\n--header 'x-api-key: <<your_api_key>>' \\\n--header 'Authorization: Basic <<base64(client_id:client_secret)>>' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--data-urlencode 'grant_type=client_credentials'\n```\n\n**Headers explained:**\n- `x-api-key`: API key generated on Investec Online\n- `Authorization`: Base64-encoded `client_id:client_secret`. Take your `client_id` and `client_secret` and base64 encode them to provide a value for basic authorization.\n- `Content-Type`: Indicates the request body format\n\n**2. Use the token for all API requests**\n\n- Use the access token that you receive in all subsequent API requests \n- Access tokens are **valid for 30 minutes** and must be refreshed when expired \n\n```bash\ncurl --location 'https://openapi.investec.com/...' \\\n--header 'Authorization: Bearer <<your_access_token>>'\n```\n\n **Notes**\n- Ensure your API key has the required scopes - you can set these when you create the key on Investec Online.\n\n</details>\n\n # Quickstarts \n\n<details>\n<summary><strong>View Quickstart (cURL)</strong></summary>\n\n This Quickstart walks you through making your first successful API call to the Card API. By the end of this guide, you will: \n- Authenticate using OAuth 2.0 client credentials and your x-api-key \n- Call the Get Cards endpoint \n- Receive an HTTP 200 OK response with a list of cards linked to your profile \n\n **Before you start** \n\n Make sure you have the following: \n\n- An Investec profile that is activated for Investec Developer on Investec Online \n- You have your client-Id and client-secret from Investec Online and you have created an x-api-key with the **cards** scope. \n- An API client such as Postman, Curl or your own application code.\n\n **Step 1: Get an access token**\n\n The Card API uses OAuth 2.0 with the client credentials grant type. To get a bearer token, exchange your client_id, client_secret, and x-api-key for an access token. \n\n You must include:\n\n- HTTP Basic Auth using client_id:client_secret  \n- Your x-api-key \n- grant_type= client_credentials \n\n **Token request**\n\n```bash\ncurl --location 'https://openapi.investec.com/identity/v2/oauth2/token' \\\n--header 'x-api-key: <<your api_key>>' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--header 'Authorization: Basic <<client_id:client_secret>>' \\\n--data-urlencode 'grant_type=client_credentials'\n```\n\n **What this does**\n\n- Authenticates your application \n- Returns a short-lived access token called a bearer token (valid for 30 minutes) \n- Confirms your credentials and API key are valid \n\n **Successful response example** \n\n```json\n{\n  \"access_token\": \"qwertyuiop123456789\",\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 1799,\n  \"scope\": \"cards\"\n}\n```\n\n **Step 2: Get your cards** \n\n Once you have your bearer token, call the Get Cards endpoint: GET/za/v1/cards\n\n **Request example**  \n\n```bash\ncurl --location 'https://openapi.investec.com/za/v1/cards' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer <<your_access_token>>'\n```\n\n **What a successful call looks like**\n\n If everything is set up correctly, you will receive HTTP 200 OK and a JSON response containing the cards associated with your account. \n\n **Successful response example**\n```json\n{\n  \"data\": {\n    \"cards\": [\n      {\n        \"CardKey\": \"1010101\",\n        \"CardNumber\": \"402167XXXXXX1111\",\n        \"IsProgrammable\": true,\n        \"Status\": \"Active\",\n        \"CardTypeCode\": \"VGC\",\n        \"AccountNumber\": \"10011001100\",\n        \"AccountId\": \"177778438355553632224\"\n      }\n    ]\n  },\n  \"links\": {\n    \"self\": \"https://openapi.investec.com/za/v1/cards\"\n  },\n  \"meta\": {\n    \"totalPages\": 1\n  }\n}\n```\n **This confirms that:** \n- Your authentication flow is working \n- Your API key has the correct scope \n- You can successfully access Card API data.\n\n **Step 3: How to debug your first call** \n\n **Common issues on a first call**\n\n| Issue | Guidance |\n|-------|----------|\n| Token request fails | Ensure you are using HTTP Basic Auth and that the x-api-key is included |\n| 401 response | Check that your credentials are correct |\n| 403 response | Confirm your API key includes the `cards` scope |\n\n</details>\n\n\n<details>\n<summary><strong>View Quickstart (Postman)</strong></summary>\n\n[Open the collection in postman](https://www.postman.com/investec-open-api/programmable-banking/collection/hl5nm0u/investec-programmable-card)  \n[![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/bd209d71-564d-4379-b464-a8f75dd84db8?action=collection%2Ffork&collection-url=entityId%3Dbd209d71-564d-4379-b464-a8f75dd84db8%26entityType%3Dcollection%26workspaceId%3D905c2bab-81a1-4297-8b70-2456c776a7a0)\n\n\n\n The instructions below will guide you through the process of authenticating and getting your cards in Postman. Before you start, **fork** the appropriate collection, and work on the fork now available in My Workspace. \n\n **1. Authenticate** \n\n 1. Head over to the **Variables** tab to set your environment variables \n2. Insert your client ID, client secret, and x-api-key. \n\n3. Navigate to the Auth folder, and the POST Authentication query (URL: https://openapi.investec.com/identity/v2/oauth2/token). \n\n- Under **Authorization**: The Auth type is set to Basic Auth \n- Under **Headers**: Your headers include the x-api-key header which uses the key you just filled in. \n- Under **Body**: In the request body, the grant-type field has the value client_credentials \n 4. Hit send on the request.  \n\n In response to your client id, secret and x-api-key, the endpoint will respond with a secure token, called a bearer token, and the period for which the token is valid (30 minutes).\n\n Navigate back to the Variables table and **paste your token into the token field**. \n\n **2. Get your cards** \n\n 1. Navigate to the Cards folder and the GET Cards \n\n 2. Hit send to make a call to the Cards API endpoint (no additional parameters need to be set) \n\n The JSON response will include the cards associated with your account, including information such as the cardKey, card number, status, and card type.\n\n</details>\n\n # Release notes \n\n<details><summary><strong>Description of API changes</strong></summary>\n\n To be added\n\n</details>",
    "termsOfService": "https://developer.investec.com/terms-of-use",
    "contact": {
      "name": "Investec Developer Support",
      "email": "developer@investec.com"
    }
  },
  "tags": [
    {
      "name": "Card management",
      "description": "Get a list of cards along with detailed card information, and create virtual cards programmatically."
    },
    {
      "name": "Card code management",
      "description": "Get and update the code associated with a specified card, including the ability to test changes and view execution logs."
    },
    {
      "name": "Card environmental variables",
      "description": "Get and update user defined environmental variables. \n\n Examples of environment variables: \n- The public and private keys used to get sensitive card information \n- Account details for third-party services you are using in your build.  \n\n **Note**: Environment variables are read-only when the card code is executed."
    },
    {
      "name": "Toggle",
      "description": "Enable or disable the execution of code on a card. This is the equivalent of toggling your card on/off for Programmable Banking on Investec Online."
    },
    {
      "name": "Reference data",
      "description": "Get reference data used within API responses, such as merchant, currency, and country codes."
    }
  ],
  "paths": {
    "/za/v1/cards": {
      "get": {
        "summary": "Get Cards",
        "description": "Get cards associated with a specified account.",
        "operationId": "GetCards",
        "tags": [
          "Card management"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards' \n --header 'Authorization: Bearer {yourBearerToken}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "GET /za/v1/cards HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "cards": [
                      {
                        "CardKey": "1010101",
                        "CardNumber": "402167XXXXXX1111",
                        "IsProgrammable": true,
                        "Status": "Active",
                        "CardTypeCode": "VGC",
                        "AccountNumber": "10011001100",
                        "AccountId": "177778438355553632224",
                        "EmbossedName": "JOHN SMITH",
                        "IsVirtualCard": false
                      },
                      {
                        "CardKey": "1020202",
                        "CardNumber": "402167XXXXXX2222",
                        "IsProgrammable": true,
                        "Status": "Active",
                        "CardTypeCode": "VGC",
                        "AccountNumber": "10011001100",
                        "AccountId": "177778438355553632224",
                        "EmbossedName": "JANE DOE",
                        "IsVirtualCard": true
                      },
                      {
                        "CardKey": "1030303",
                        "CardNumber": "402167XXXXXX3333",
                        "IsProgrammable": true,
                        "Status": "Active",
                        "CardTypeCode": "VGC",
                        "AccountNumber": "10011001100",
                        "AccountId": "177778438355553632224",
                        "EmbossedName": "JOHN DOE",
                        "IsVirtualCard": false
                      }
                    ]
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Cards"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      },
      "post": {
        "summary": "Create Virtual Card",
        "description": "Create a virtual card associated with a specified account.",
        "operationId": "CreateVirtualCard",
        "tags": [
          "Card management"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards' \n --header 'Content-Type: application/json' \n --header 'Authorization: Bearer {yourBearerToken}' \n --data '{\n\"AccountNumber\": \"{accountNumber}\",\n\"EmbossName\" : \"CardEmbossName\",\n\"EmbossName2\" : \"CardEmbossName2\"\n}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "POST /za/v1/cards HTTP/1.1 \nHost: openapi.investec.com \nContent-Type: application/json \nAuthorization: Bearer {yourBearerToken} \nContent-Length: 122 \n \n{\n     \"AccountNumber\": \"{accountnumber}\",\n     \"EmbossName\" : \"CardEmbossName\",\n     \"EmbossName2\" : \"CardEmbossName2\"\n}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": {
                      "CardKey": "212121",
                      "IsVirtualCard": true,
                      "EmbossName": "CardEmbossName",
                      "EmbossName2": "CardEmbossName2"
                    }
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CreateCard"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/v1/cards/{cardKey}": {
      "get": {
        "summary": "Get Card Detail",
        "description": "Get card details, excluding sensitive information, such as card number, expiry date and CVV.",
        "operationId": "GetCardDetail",
        "tags": [
          "Card management"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The unique identifier for the card, obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/212121' \n --header 'Authorization: Bearer {yourBearerToken}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "GET /za/v1/cards/212121 HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": {
                      "CardKeyHash": "212121",
                      "MaskedCardNumber": "402222xxxxx2222",
                      "EmbossName": "CardEmbossName",
                      "EmbossName2": "CardEmbossName2",
                      "Status": "Active",
                      "AccountNumber": "{accountnumber}",
                      "IsVirtualCard": true,
                      "ExtendedDetails": null
                    }
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/{cardKey}"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CardDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      },
      "post": {
        "summary": "Get Card Detail (With Sensitive Information)",
        "description": "Get full card details, including card number, expiry date and CVV.\n\n **A note on usage:** \n- To retrieve sensitive card data, you must first generate an RSA key pair on an app of your choice. \n- Next, provide your RSA public key in the request, along with: \n  - `modulus` and `exponent` (public key components)\n  - `appName` (the application used to generate the key pair). \n\n Once you have sent the request, the API will: \n- Encrypt the card number, expiry date, and CVV using your public key \n- Return the encrypted values in `ExtendedDetails`. \n You can then decrypt these values locally using your private key. \n\n| Area                   | Value     |\n| :------                | :-------  |\n| Encryption Algorithm   | RSA       |\n| Key Size               | 2048      |",
        "operationId": "GetCardDetailSensitive",
        "tags": [
          "Card management"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The unique identifier for the card, obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "extended",
            "description": "Set to true to retrieve extended sensitive card information",
            "required": true,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/212121?extended=true' \n --header 'Content-Type: application/json' \n --header 'Authorization: Bearer {yourBearerToken}' \n --data '{\n\"AccountNumber\": \"{accountNumber}\",\n\"EmbossName\" : \"CardEmbossName\",\n\"EmbossName2\" : \"CardEmbossName2\"\n}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "POST /za/v1/cards/212121?extended=true HTTP/1.1 \nHost: openapi.investec.com \nContent-Type: application/json \nAuthorization: Bearer {yourBearerToken} \nContent-Length: 122 \n \n{\n     \"AccountNumber\": \"{accountnumber}\",\n     \"EmbossName\" : \"CardEmbossName\",\n     \"EmbossName2\" : \"CardEmbossName2\"\n}"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyId": {
                    "type": "number",
                    "description": "A number to identify your key"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "A name to identify your key with"
                  },
                  "appName": {
                    "type": "string",
                    "description": "Name of the application that generated the RSA Key Pair"
                  },
                  "modulus": {
                    "type": "string",
                    "description": "**Important**: The key modulus, normally key.n"
                  },
                  "exponent": {
                    "type": "string",
                    "description": "**Important**: The key modulus, normally public_exponent"
                  }
                },
                "example": {
                  "keyId": 0,
                  "identifier": "My RSA Key Identifier",
                  "appName": "Some App name",
                  "modulus": "6bddcfec7132fc5f80a00b236cc891480b3e08d49b64eb9a4794de4f8af4345a8746131e2ff1f985b7c4bd3e554d759b30d612a5013f43d0e0f2d0b2383a43426a596f98b9a45adf254f9a9730f258c051152a73174e24c453a7199746f8535f6e3a07b09aaaaa67ef2b129bda63de86a111f9b5f6e1f72726ed115b916d6a379f392663a1a4194d15d6c77dfbbd255f3992e161e624dc3795cc60f634ea88e6d077b9c8f535ed4465661d7055d09b3187e23ed5b0d38169c8d37d813aa2ac78848ac52306e2c5c4b9a5d4a32bd2bdb39cb45d32d2453dc2ab9ea2bea9170b9236b0f055a1cd2595635ae9f563003da9047cd96097bc45dcc97a0601d2b92431",
                  "exponent": "010001"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": {
                      "CardKeyHash": "2121212",
                      "MaskedCardNumber": "402222xxxxx2222",
                      "EmbossName": "CardEmbossName",
                      "EmbossName2": "CardEmbossName2",
                      "Status": "Active",
                      "AccountNumber": "{accountnumber}",
                      "IsVirtualCard": true,
                      "ExtendedDetails": {
                        "CardNumber": "{base64EncryptedString}",
                        "ExpiryDate": "{base64EncryptedString}",
                        "CVV2": "{base64EncryptedString}"
                      }
                    }
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/{cardKey}?extended=true"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CardDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/v1/cards/{cardKey}/code": {
      "get": {
        "summary": "Get Function (saved) code",
        "operationId": "GetFunctionCode",
        "tags": [
          "Card code management"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "description": "Get code currently **saved** to a specified card.",
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The unique identifier for the card, obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/{cardKey}/code' \n --header 'Authorization: Bearer {yourBearerToken}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "GET /za/v1/cards/{cardKey}/code HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": {
                      "codeId": "3BB77753-R2D2-4U2B-1A2B-4C213E7D0AC3",
                      "code": "// This function runs during the card transaction authorization flow.\n// It has a limited execution time, so keep any code short-running.\nconst beforeTransaction = async (authorization) => {\n    console.log(authorization);\n    return true;\n};\n\n// This function runs after a transaction.\nconst afterTransaction = async (transaction) => {\n    console.log(transaction)\n};\n\n// This function runs after a transaction.\nconst afterDecline = async (transaction) => {\n    console.log(transaction)\n};",
                      "createdAt": "2021-10-12T09:12:06.695Z",
                      "updatedAt": "2021-10-12T09:12:06.695Z",
                      "publishedAt": "2021-10-12T09:12:16.557Z",
                      "error": null
                    }
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/{cardKey}/code"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FunctionCode"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      },
      "post": {
        "summary": "Update Function Code (Without publishing to card)",
        "operationId": "UpdateFunctionCode",
        "tags": [
          "Card code management"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "description": "Save code to the specified card. \n\n **Note**: This allows you to save/stage the code to the card without publishing it. The code will not execute when a card transaction occurs, unless you publish it.",
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The unique identifier for the card, obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/{cardKey}/code' \n --header 'Authorization: Bearer {yourBearerToken}' \n --header 'Content-Type: application/json' \n --data '{\"code\": \"//Sample code to just log \\n const beforeTransaction = async (authorization) => { \\n var transaction = authorization; \\n console.log(transaction); \\n return true; \\n }; \\n const afterTransaction = async (transaction) => { \\n console.log(transaction); \\n};\"}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "POST /za/v1/cards/{cardKey}/code HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}\nContent-Type: application/json\n{\"code\": \"//Sample code to just log \\n const beforeTransaction = async (authorization) => { \\n var transaction = authorization; \\n console.log(transaction); \\n return true; \\n }; \\n const afterTransaction = async (transaction) => { \\n console.log(transaction); \\n};\"}"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                },
                "example": {
                  "code": "//Sample code to just log \n const beforeTransaction = async (authorization) => { \n var transaction = authorization; \n console.log(transaction); \n return true; \n }; \n const afterTransaction = async (transaction) => { \n console.log(transaction); \n};"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": {
                      "codeId": "3BB77753-R2D2-4U2B-1A2B-4C213E7D0AC3",
                      "code": "//Sample code to just log \n const beforeTransaction = async (authorization) => { \n var transaction = authorization; \n console.log(transaction); \n return true; \n }; \n const afterTransaction = async (transaction) => { \n console.log(transaction); \n};",
                      "createdAt": "2021-10-12T09:12:06.695Z",
                      "updatedAt": "2021-10-12T09:12:06.695Z",
                      "publishedAt": "2021-10-12T09:12:16.557Z",
                      "error": null
                    }
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/{cardKey}/code"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FunctionCode"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/v1/cards/{cardKey}/publishedcode": {
      "get": {
        "summary": "Get Function (published) code",
        "operationId": "GetPublishedCode",
        "tags": [
          "Card code management"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "description": "Get code currently **published** to a specified card.",
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The unique identifier for the card, obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/{cardKey}/publishedcode' \n --header 'Authorization: Bearer {yourBearerToken}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "GET /za/v1/cards/{cardKey}/publishedcode HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": {
                      "codeId": "3BB77753-R2D2-4U2B-1A2B-4C213E7D0AC3",
                      "code": "//Sample code to just log \n const beforeTransaction = async (authorization) => { \n var transaction = authorization; \n console.log(transaction); \n return true; \n }; \n const afterTransaction = async (transaction) => { \n console.log(transaction); \n};",
                      "createdAt": "2021-10-12T09:12:06.695Z",
                      "updatedAt": "2021-10-12T09:12:06.695Z",
                      "publishedAt": "2021-10-12T09:12:16.557Z",
                      "error": null
                    }
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/{cardKey}/publishedcode"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FunctionCode"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/v1/cards/{cardKey}/publish": {
      "post": {
        "summary": "Publish Saved Code",
        "operationId": "PublishFunctionCode",
        "tags": [
          "Card code management"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "description": "Publish code to the specified card. \n\n **Note**: This will mark the saved code as the published code ready for execution. Remember to specify the {codeid} obtained from the Get Function (saved) code.",
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The unique identifier for the card, obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/{cardKey}/publish' \n --header 'Authorization: Bearer {yourBearerToken}' \n --header 'Content-Type: application/json' \n --data-raw '{\"codeid\": \"C39D51E7-588B-4296-BFFD-B7383FE3A1B9\",\"code\": \"//Sample code to just log \\n const beforeTransaction = async (authorization) => { \\n var transaction = authorization; \\n console.log(transaction); \\n return true; \\n }; \\n const afterTransaction = async (transaction) => { \\n console.log(transaction); \\n};\"}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "POST /za/v1/cards/{cardKey}/publish HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}\nContent-Type: application/json\n{\"codeid\": \"C39D51E7-588B-4296-BFFD-B7383FE3A1B9\",\"code\": \"//Sample code to just log \\n const beforeTransaction = async (authorization) => { \\n var transaction = authorization; \\n console.log(transaction); \\n return true; \\n }; \\n const afterTransaction = async (transaction) => { \\n console.log(transaction); \\n};\"}"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codeid": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                },
                "example": {
                  "codeid": "C39D51E7-588B-4296-BFFD-B7383FE3A1B9",
                  "code": "//Sample code to just log \n const beforeTransaction = async (authorization) => { \n var transaction = authorization; \n console.log(transaction); \n return true; \n }; \n const afterTransaction = async (transaction) => { \n console.log(transaction); \n};"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": {
                      "codeId": "3BB79753-R2D2-4U2B-1A2B-4C219E7D0AC3",
                      "code": "//Sample code to just log \n const beforeTransaction = async (authorization) => { \n var transaction = authorization; \n console.log(transaction); \n return true; \n }; \n const afterTransaction = async (transaction) => { \n console.log(transaction); \n};",
                      "createdAt": "2021-10-12T09:12:06.695Z",
                      "updatedAt": "2021-10-12T09:12:06.695Z",
                      "publishedAt": "2021-10-12T09:12:16.557Z",
                      "error": null
                    }
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/{cardKey}/publish"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FunctionCode"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/v1/cards/{cardKey}/code/execute": {
      "post": {
        "summary": "Execute Function Code (Simulation)",
        "operationId": "ExecuteFunctionCode",
        "tags": [
          "Card code management"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "description": "Execute your code in sandbox mode. Provide mock transaction data in the request body and run your code to simulate a response.",
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The unique identifier for the card, obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/{cardKey}/code/execute' \n --header 'Authorization: Bearer {yourBearerToken}' \n --header 'Content-Type: application/json' \n --data '{\n\"simulationcode\": \"// This function runs during the card transaction authorization flow.\\n// It has a limited execution time, so keep any code short-running.\\nconst beforeTransaction = async (authorization) => {\\n    console.log(authorization);\\n    return true;\\n};\\n\\n// This function runs after a transaction.\\nconst afterTransaction = async (transaction) => {\\n    console.log(transaction)\\n};\",\n\"centsAmount\": \"10000\",\n\"currencyCode\": \"zar\",\n\"merchantCode\": 5462,\n\"merchantName\": \"The Coders Bakery\",\n\"merchantCity\": \"Cape Town\",\n\"countryCode\": \"ZA\"\n}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "POST /za/v1/cards/{cardKey}/code/execute HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}\nContent-Type: application/json\n{\n\"simulationcode\": \"// This function runs during the card transaction authorization flow.\\n// It has a limited execution time, so keep any code short-running.\\nconst beforeTransaction = async (authorization) => {\\n    console.log(authorization);\\n    return true;\\n};\\n\\n// This function runs after a transaction.\\nconst afterTransaction = async (transaction) => {\\n    console.log(transaction)\\n};\",\n\"centsAmount\": \"10000\",\n\"currencyCode\": \"zar\",\n\"merchantCode\": 5462,\n\"merchantName\": \"The Coders Bakery\",\n\"merchantCity\": \"Cape Town\",\n\"countryCode\": \"ZA\"\n}"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "simulationcode": {
                    "type": "string"
                  },
                  "centsAmount": {
                    "type": "string"
                  },
                  "currencyCode": {
                    "type": "string"
                  },
                  "merchantCode": {
                    "type": "number"
                  },
                  "merchantName": {
                    "type": "string"
                  },
                  "merchantCity": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  }
                },
                "example": {
                  "simulationcode": "// This function runs during the card transaction authorization flow.\n// It has a limited execution time, so keep any code short-running.\nconst beforeTransaction = async (authorization) => {\n    console.log(authorization);\n    return true;\n};\n\n// This function runs after a transaction.\nconst afterTransaction = async (transaction) => {\n    console.log(transaction)\n};",
                  "centsAmount": "10000",
                  "currencyCode": "zar",
                  "merchantCode": 5462,
                  "merchantName": "The Coders Bakery",
                  "merchantCity": "Cape Town",
                  "countryCode": "ZA"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": [
                      {
                        "executionId": "ABB8854D-B3A4-4450-BB9D-915206E8D156",
                        "rootCodeFunctionId": "96A88E6A-E343-4051-9674-7C58B4CC1A58",
                        "sandbox": true,
                        "type": "before_transaction",
                        "authorizationApproved": true,
                        "logs": [
                          {
                            "createdAt": "2021-10-15T03:48:14.771Z",
                            "level": "info",
                            "content": "{\"accountNumber\":\"10011001100\",\"dateTime\":\"2021-10-15T03:48:13.147Z\",\"centsAmount\":10100,\"currencyCode\":\"zar\",\"type\":\"card\",\"reference\":\"simulation\",\"card\":{\"id\":\"1010101\"},\"merchant\":{\"category\":{\"code\":\"7996\",\"key\":\"amusement_parks_carnivals\",\"name\":\"Amusement Parks/Carnivals\"},\"name\":\"uShaka MarineÂ World\",\"city\":\"Durban\",\"country\":{\"code\":\"ZA\",\"alpha3\":\"ZAF\",\"name\":\"South Africa\"}}}"
                          }
                        ],
                        "smsCount": 0,
                        "emailCount": 0,
                        "pushNotificationCount": 0,
                        "createdAt": "2021-10-15T03:48:14.184Z",
                        "startedAt": "2021-10-15T03:48:14.183Z",
                        "completedAt": "2021-10-15T03:48:14.899Z",
                        "updatedAt": "2021-10-15T03:48:14.184Z",
                        "Error": null
                      },
                      {
                        "executionId": "688357B2-1F2B-49F7-A739-3D9DAF87CD84",
                        "rootCodeFunctionId": "96A88E6A-E343-4051-9674-7C58B4CC1A58",
                        "sandbox": true,
                        "type": "after_transaction",
                        "authorizationApproved": null,
                        "logs": [
                          {
                            "createdAt": "2021-10-15T03:48:15.712Z",
                            "level": "info",
                            "content": "{\"accountNumber\":\"10011001100\",\"dateTime\":\"2021-10-15T03:48:14.920Z\",\"centsAmount\":10100,\"currencyCode\":\"zar\",\"type\":\"card\",\"reference\":\"simulation\",\"card\":{\"id\":\"1010101\"},\"merchant\":{\"category\":{\"code\":\"7996\",\"key\":\"amusement_parks_carnivals\",\"name\":\"Amusement Parks/Carnivals\"},\"name\":\"uShaka MarineÂ World\",\"city\":\"Durban\",\"country\":{\"code\":\"ZA\",\"alpha3\":\"ZAF\",\"name\":\"South Africa\"}}}"
                          }
                        ],
                        "smsCount": 0,
                        "emailCount": 0,
                        "pushNotificationCount": 0,
                        "createdAt": "2021-10-15T03:48:15.082Z",
                        "startedAt": "2021-10-15T03:48:15.082Z",
                        "completedAt": "2021-10-15T03:48:15.826Z",
                        "updatedAt": "2021-10-15T03:48:15.082Z",
                        "Error": null
                      }
                    ]
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/{cardKey}/code/execute"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/v1/cards/{cardKey}/code/executions": {
      "get": {
        "summary": "Get Executions",
        "operationId": "GetFunctionExecutions",
        "tags": [
          "Card code management"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "description": "Fetches the logs of the simulated as well as the actual transactions for the specified card.",
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The unique identifier for the card, obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/{cardKey}/code/executions' \n --header 'Authorization: Bearer {yourBearerToken}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "GET /za/v1/cards/{cardKey}/code/executions HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": [
                      {
                        "executionId": "ABB8854D-B3A4-4450-BB9D-915206E8D156",
                        "rootCodeFunctionId": "96A88E6A-E343-4051-9674-7C58B4CC1A58",
                        "sandbox": true,
                        "type": "before_transaction",
                        "authorizationApproved": true,
                        "logs": [
                          {
                            "createdAt": "2021-10-15T03:48:14.771Z",
                            "level": "info",
                            "content": "{\"accountNumber\":\"10011001100\",\"dateTime\":\"2021-10-15T03:48:13.147Z\",\"centsAmount\":10100,\"currencyCode\":\"zar\",\"type\":\"card\",\"reference\":\"simulation\",\"card\":{\"id\":\"1010101\"},\"merchant\":{\"category\":{\"code\":\"7996\",\"key\":\"amusement_parks_carnivals\",\"name\":\"Amusement Parks/Carnivals\"},\"name\":\"uShaka MarineÂ World\",\"city\":\"Durban\",\"country\":{\"code\":\"ZA\",\"alpha3\":\"ZAF\",\"name\":\"South Africa\"}}}"
                          }
                        ],
                        "smsCount": 0,
                        "emailCount": 0,
                        "pushNotificationCount": 0,
                        "createdAt": "2021-10-15T03:48:14.184Z",
                        "startedAt": "2021-10-15T03:48:14.183Z",
                        "completedAt": "2021-10-15T03:48:14.899Z",
                        "updatedAt": "2021-10-15T03:48:14.184Z",
                        "Error": null
                      },
                      {
                        "executionId": "688357B2-1F2B-49F7-A739-3D9DAF87CD84",
                        "rootCodeFunctionId": "96A88E6A-E343-4051-9674-7C58B4CC1A58",
                        "sandbox": true,
                        "type": "after_transaction",
                        "authorizationApproved": null,
                        "logs": [
                          {
                            "createdAt": "2021-10-15T03:48:15.712Z",
                            "level": "info",
                            "content": "{\"accountNumber\":\"10011001100\",\"dateTime\":\"2021-10-15T03:48:14.920Z\",\"centsAmount\":10100,\"currencyCode\":\"zar\",\"type\":\"card\",\"reference\":\"simulation\",\"card\":{\"id\":\"1010101\"},\"merchant\":{\"category\":{\"code\":\"7996\",\"key\":\"amusement_parks_carnivals\",\"name\":\"Amusement Parks/Carnivals\"},\"name\":\"uShaka MarineÂ World\",\"city\":\"Durban\",\"country\":{\"code\":\"ZA\",\"alpha3\":\"ZAF\",\"name\":\"South Africa\"}}}"
                          }
                        ],
                        "smsCount": 0,
                        "emailCount": 0,
                        "pushNotificationCount": 0,
                        "createdAt": "2021-10-15T03:48:15.082Z",
                        "startedAt": "2021-10-15T03:48:15.082Z",
                        "completedAt": "2021-10-15T03:48:15.826Z",
                        "updatedAt": "2021-10-15T03:48:15.082Z",
                        "Error": null
                      }
                    ]
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/{cardKey}/code/executions"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/v1/cards/{cardKey}/environmentvariables": {
      "get": {
        "summary": "Get Environment Variables",
        "operationId": "GetFunctionEnvironmentVariables",
        "tags": [
          "Card environmental variables"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "description": "Gets the key value pairs of user defined variables securely stored against a specified card.",
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The CardKey obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/{cardKey}/environmentvariables' \n --header 'Authorization: Bearer {yourBearerToken}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "GET /za/v1/cards/{cardKey}/environmentvariables HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": {
                      "variables": {},
                      "createdAt": "2021-10-12T09:12:06.742Z",
                      "updatedAt": "2021-10-12T09:12:06.742Z",
                      "error": null
                    }
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/{cardKey}/environmentvariables"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariables"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      },
      "post": {
        "summary": "Replace Environment Variables",
        "operationId": "UpdateFunctionEnvironmentVariables",
        "tags": [
          "Card environmental variables"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "description": "Sets the environment variables stored against a specified card. \n\n **Note:** This replaces all variables and does not allow for patching.",
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The unique identifier for the card, obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/{cardKey}/environmentvariables' \n --header 'Authorization: Bearer {yourBearerToken}' \n --header 'Content-Type: application/json' \n--data '{    \n\"variables\": {\n    \"test1\": \"value11\",\n    \"test2\": \"value22\"\n   }\n}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "POST /za/v1/cards/{cardKey}/environmentvariables HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}\nContent-Type: application/json\n{    \n\"variables\": {\n    \"test1\": \"value11\",\n    \"test2\": \"value22\"\n   }\n}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": {
                      "variables": {
                        "test1": "value11",
                        "test2": "value22"
                      },
                      "createdAt": "2021-10-15T05:18:09.891Z",
                      "updatedAt": "2021-10-15T05:18:09.891Z",
                      "error": null
                    }
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/{cardKey}/environmentvariables"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariables"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "variables": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "variables"
                ],
                "example": {
                  "variables": {
                    "test1": "value11",
                    "test2": "value22"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/za/v1/cards/{cardKey}/toggle-programmable-feature": {
      "post": {
        "summary": "Toggle Programmable Feature",
        "operationId": "CardsToggleNew",
        "tags": [
          "Toggle"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "description": "Enable or disable the programmable feature for a specified card.",
        "parameters": [
          {
            "in": "path",
            "name": "cardKey",
            "description": "The unique identifier for the card, obtained from the GET Cards call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/{cardKey}/toggle-programmable-feature' \n --header 'Authorization: Bearer {yourBearerToken}' \n --header 'Content-Type: application/json' \n --data '{\n  \"Enabled\": false\n}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "POST /za/v1/cards/{cardKey}/toggle-programmable-feature HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}\nContent-Type: application/json\n{\n  \"Enabled\": false\n}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "Enabled": false
                },
                "schema": {
                  "$ref": "#/components/schemas/ToggleProgrammableFeature"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "Enabled": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "Enabled"
                ],
                "example": {
                  "Enabled": false
                }
              }
            }
          }
        }
      }
    },
    "/za/v1/cards/countries": {
      "get": {
        "summary": "Get Countries",
        "operationId": "GetCountries",
        "tags": [
          "Reference data"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "parameters": [],
        "description": "Gets a reference set of countries.",
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/countries' \n --header 'Authorization: Bearer {yourBearerToken}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "GET /za/v1/cards/countries HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": [
                      {
                        "Code": "ZA",
                        "Name": "South Africa"
                      },
                      {
                        "Code": "GB",
                        "Name": "United Kingdom of Great Britain and Northern Ireland (the)"
                      },
                      {
                        "Code": "undefined",
                        "Name": "undefined"
                      }
                    ]
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/countries"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Countries"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/v1/cards/currencies": {
      "get": {
        "summary": "Get Currencies",
        "operationId": "GetCurrencies",
        "tags": [
          "Reference data"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "parameters": [],
        "description": "Gets a reference set of currencies.",
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/currencies' \n --header 'Authorization: Bearer {yourBearerToken}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "GET /za/v1/cards/currencies HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": [
                      {
                        "Code": "ZAR",
                        "Name": "South African Rand"
                      },
                      {
                        "Code": "GBP",
                        "Name": "British Pound"
                      },
                      {
                        "Code": "USD",
                        "Name": "United States Dollar"
                      },
                      {
                        "Code": "EUR",
                        "Name": "Euro"
                      }
                    ]
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/currencies"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Currencies"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    },
    "/za/v1/cards/merchants": {
      "get": {
        "summary": "Get Merchants",
        "operationId": "GetMerchants",
        "tags": [
          "Reference data"
        ],
        "security": [
          {
            "OAuth2": [
              "cards"
            ]
          }
        ],
        "parameters": [],
        "description": "Get a reference set of merchant category codes and descriptions.",
        "x-code-samples": [
          {
            "lang": "Curl",
            "label": "cURL",
            "source": "curl --location 'https://openapi.investec.com/za/v1/cards/merchants' \n --header 'Authorization: Bearer {yourBearerToken}'"
          },
          {
            "lang": "HTTP",
            "label": "HTTP",
            "source": "GET /za/v1/cards/merchants HTTP/1.1 \nHost: openapi.investec.com \nAuthorization: Bearer {yourBearerToken}"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource has been retrieved",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "result": [
                      {
                        "Code": "7623",
                        "Name": "A/C, Refrigeration Repair"
                      },
                      {
                        "Code": "8931",
                        "Name": "Accounting/Bookkeeping Services"
                      },
                      {
                        "Code": "7311",
                        "Name": "Advertising Services"
                      }
                    ]
                  },
                  "links": {
                    "self": "https://openapi.investec.com/za/v1/cards/merchants"
                  },
                  "meta": {
                    "totalPages": 1
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Merchants"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The requested operation will not be carried out"
          },
          "401": {
            "description": "Unauthorized - The requested operation was refused access"
          },
          "403": {
            "description": "Forbidden - Not permitted to make this request"
          },
          "429": {
            "description": "Too Many Requests - To many requests in quick succession, Retry the request."
          },
          "500": {
            "description": "Internal Server Error - The requested operation failed to execute"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth2.0 security scheme for production environment, with the addition of an x-api-key as a header. Remember to include grant_type: client_credentials (x-www-form-urlencoded) in the body of the request.",
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://openapi.investec.com/identity/v2/oauth2/token",
            "scopes": {
              "cards": "Programmable banking card functionality"
            }
          }
        }
      }
    },
    "schemas": {
      "Cards": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CardData"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "title": "Cards"
      },
      "CreateCard": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CreateCardData"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "title": "CreateCard"
      },
      "CreateCardData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/CreateCardResult"
          }
        },
        "required": [
          "result"
        ],
        "title": "Data"
      },
      "CreateCardResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "CardKey": {
            "type": "string",
            "description": "A unique identifier for the card, used in other API calls to reference the card."
          },
          "IsVirtualCard": {
            "type": "boolean",
            "description": "Indicates whether the card is a virtual card."
          },
          "EmbossName": {
            "type": "string",
            "description": "The name embossed on the card."
          },
          "EmbossName2": {
            "type": "string",
            "description": "The second name embossed on the card."
          }
        },
        "required": [
          "CardKey",
          "EmbossName",
          "EmbossName2",
          "IsVirtualCard"
        ],
        "title": "Result"
      },
      "CardData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          }
        },
        "required": [
          "cards"
        ],
        "title": "Data"
      },
      "Card": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "CardKey": {
            "type": "string",
            "description": "A unique identifier for the card, used in other API calls to reference the card."
          },
          "CardNumber": {
            "type": "string",
            "description": "The card number. This is masked for security reasons, and only the last 4 digits are returned."
          },
          "IsProgrammable": {
            "type": "boolean",
            "description": "Indicates whether the card is enabled for programmable banking. This can be toggled on/off using the toggle endpoint."
          },
          "Status": {
            "type": "string",
            "description": "The status of the card. Possible values are Active (used in the last 3 months), Inactive (not used in last 3 months), Dormant (not used in last 6 months), Closed, New (no transactions on the card yet), and Temporary Block."
          },
          "CardTypeCode": {
            "type": "string",
            "description": "The card type code. Possible values are VBC (Visa Business Chip Card), VGC (Visa Global Card), VPC (Enigma Chip card), VDP (Visa Debit Platinum), VBJ (Visa Business Journey), VCC (Visa Corporate), VVB (Visa Virtual Business), VVC (Visa Virtual Corporate), VVD (Visa Virtual Debit), VVG (Visa Platinum Virtual) and VVP (Visa Virtual Enigma)"
          },
          "AccountNumber": {
            "type": "string",
            "description": "The account number associated with the card."
          },
          "AccountId": {
            "type": "string",
            "description": "A unique identifier for the account associated with the card."
          },
          "EmbossedName": {
            "type": "string",
            "description": "The name embossed on the card."
          },
          "IsVirtualCard": {
            "type": "boolean",
            "description": "Indicates whether the card is a virtual card."
          }
        },
        "required": [
          "AccountId",
          "AccountNumber",
          "CardKey",
          "CardNumber",
          "CardTypeCode",
          "EmbossedName",
          "IsProgrammable",
          "IsVirtualCard",
          "Status"
        ],
        "title": "Card"
      },
      "CardDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CardDetailsData"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "title": "CardDetails"
      },
      "CardDetailsData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/CardDetailsResult"
          }
        },
        "required": [
          "result"
        ],
        "title": "Data"
      },
      "CardDetailsResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "CardKeyHash": {
            "type": "string",
            "description": "A hashed cardKey value."
          },
          "MaskedCardNumber": {
            "type": "string",
            "description": "A masked card number - only the last 4 digits are returned."
          },
          "EmbossName": {
            "type": "string",
            "description": "The first name embossed on the card."
          },
          "EmbossName2": {
            "type": "string",
            "description": "The second name embossed on the card."
          },
          "Status": {
            "type": "string",
            "description": "The status of the card. Possible values are Active (used in the last 3 months), Inactive (not used in last 3 months), Dormant (not used in last 6 months), Closed, New (no transactions on the card yet), and Temporary Block."
          },
          "AccountNumber": {
            "type": "string",
            "description": "The account number associated with the card."
          },
          "IsVirtualCard": {
            "type": "boolean",
            "description": "Indicates whether the card is a virtual card."
          },
          "ExtendedDetails": {
            "type": "object",
            "nullable": true,
            "additionalProperties": false,
            "properties": {
              "CardNumber": {
                "type": "string"
              },
              "ExpiryDate": {
                "type": "string"
              },
              "CVV2": {
                "type": "string"
              }
            },
            "description": "Extended details about the card. This will need to be decrypted with your private key."
          }
        },
        "required": [
          "AccountNumber",
          "CardKeyHash",
          "EmbossName",
          "EmbossName2",
          "ExtendedDetails",
          "IsVirtualCard",
          "MaskedCardNumber",
          "Status"
        ],
        "title": "Result"
      },
      "FunctionCode": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "$ref": "#/components/schemas/FunctionCodeData"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "title": "FunctionCode"
      },
      "FunctionCodeData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/FunctionCodeResult"
          }
        },
        "required": [
          "result"
        ],
        "title": "Data"
      },
      "FunctionCodeResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "codeId": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "publishedAt": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "codeId",
          "code",
          "createdAt",
          "updatedAt",
          "publishedAt",
          "error"
        ],
        "title": "Result"
      },
      "ExecutionResults": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ExecutionResultsData"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "title": "ExecutionResults"
      },
      "ExecutionResultsData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionResult"
            }
          }
        },
        "required": [
          "result"
        ],
        "title": "Data"
      },
      "ExecutionResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "executionId": {
            "type": "string"
          },
          "rootCodeFunctionId": {
            "type": "string"
          },
          "sandbox": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "authorizationApproved": {
            "type": "boolean",
            "nullable": true
          },
          "logs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionLog"
            }
          },
          "smsCount": {
            "type": "integer"
          },
          "emailCount": {
            "type": "integer"
          },
          "pushNotificationCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "startedAt": {
            "type": "string"
          },
          "completedAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "Error": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "executionId",
          "rootCodeFunctionId",
          "sandbox",
          "type",
          "authorizationApproved",
          "logs",
          "smsCount",
          "emailCount",
          "pushNotificationCount",
          "createdAt",
          "startedAt",
          "completedAt",
          "updatedAt",
          "Error"
        ],
        "title": "Result"
      },
      "ExecutionLog": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "createdAt": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "createdAt",
          "level",
          "content"
        ],
        "title": "Log"
      },
      "EnvironmentVariables": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "$ref": "#/components/schemas/EnvironmentVariablesData"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "title": "EnvironmentVariables"
      },
      "EnvironmentVariablesData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/EnvironmentVariablesResult"
          }
        },
        "required": [
          "result"
        ],
        "title": "Data"
      },
      "EnvironmentVariablesResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "variables",
          "createdAt",
          "updatedAt",
          "error"
        ],
        "title": "Result"
      },
      "ToggleProgrammableFeature": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "Enabled"
        ],
        "title": "ToggleProgrammableFeature"
      },
      "Countries": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CountriesData"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "title": "Countries"
      },
      "CountriesData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Country"
            }
          }
        },
        "required": [
          "result"
        ],
        "title": "Data"
      },
      "Country": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Code": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          }
        },
        "required": [
          "Code",
          "Name"
        ],
        "title": "Country"
      },
      "Currencies": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CurrenciesData"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "title": "Currencies"
      },
      "CurrenciesData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Currency"
            }
          }
        },
        "required": [
          "result"
        ],
        "title": "Data"
      },
      "Currency": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Code": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          }
        },
        "required": [
          "Code",
          "Name"
        ],
        "title": "Currency"
      },
      "Merchants": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MerchantsData"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "title": "Merchants"
      },
      "MerchantsData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Merchant"
            }
          }
        },
        "required": [
          "result"
        ],
        "title": "Data"
      },
      "Merchant": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Code": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          }
        },
        "required": [
          "Code",
          "Name"
        ],
        "title": "Merchant"
      },
      "Links": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "self": {
            "type": "string"
          }
        },
        "required": [
          "self"
        ],
        "title": "Links"
      },
      "Meta": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "totalPages": {
            "type": "integer"
          }
        },
        "required": [
          "totalPages"
        ],
        "title": "Meta"
      }
    }
  },
  "externalDocs": {
    "url": "https://developer.investec.com/docs"
  }
}
